@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;0,700;0,900;1,600&family=Fraunces:ital,wght@0,600;0,700;0,900;1,600&family=Rubik:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  width: 100%;
}
a {
  text-decoration: none;
  /* color: */
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
  }
}
